
html{
  width: 100%;
}
html * {
  box-sizing: border-box;
}

/** HEADER ************************************/
.headername{
  width: 100%;
  padding: 30px 20px;
}
.name {
  padding-inline: 1%;
  width: 100%;
  max-height: 100%;
  text-align: center;
  font-size: 570%;
  font-family: 'Hurricane', 'cursive';
}
.p2 {
  padding-top: 40px;
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 240%;
  text-align: center;
}


/*** Menu Button Hamburger ***/
#menu {
  z-index: 2;
}
#menu-bar {
  width: 45px;
  height: 40px;
  margin: 30px 0 20px 20px;
  cursor: pointer;
}
.bar {
  height: 5px;
  width: 100%;
  background-color: #9b5f6a;
  display: block;
  border-radius: 5px;
  transition: 0.3s ease;
}
#bar1 {
  transform: translateY(-4px);
}
#bar3 {
  transform: translateY(4px);
}
.nav {
  transition: 0.3s ease;
  display: none;
}
.nav ul {
  padding: 0 22px;
}
.nav li {
  list-style: none;
  padding: 12px 0;
}
.nav li a {
  color: white;
  font-size: 20px;
  text-decoration: none;
}
.nav li a:hover {
  font-weight: bold;
}
.menu-bg, #menu {
  top: 0;
  left: 0;
  position: absolute;
}
.menu-bg {
  z-index: 1;
  width: 0;
  height: 0;
  margin: 30px 0 20px 20px;
  background: radial-gradient(circle, #9b5f6a, #9b5f6a);
  border-radius: 50%;
  transition: 0.3s ease;
}
.change {
  display: block;
}
.change .bar {
  background-color: white;
}
.change #bar1 {
  transform: translateY(4px) rotateZ(-45deg);
}
.change #bar2 {
  opacity: 0;
}
.change #bar3 {
  transform: translateY(-6px) rotateZ(45deg);
}
.change-bg {
  width: 520px;
  height: 460px;
  transform: translate(-60%,-30%);
}


/** MAIN ******************************/
      /* fotos coloridas */
/*.container {
  background-color: rgb(255, 51, 0);
  border: 15px solid rgb(171, 94, 206);
  padding: 15px;
  display: grid; 
  grid-template-columns: auto auto auto;
}
.container div {
  background-color: rgb(9, 255, 0);
  padding: 20px;
  border: 1px solid blue;
}*/















.paragrafo {
  font-family: 'Titillium Web', sans-serif;
  color: #666666;
}




/* fotos preto e branco */
.grid {
	display: grid;
}
.grid-template-columns-3 {
	grid-template-columns: 1fr 2fr 1fr;
}
.image {
	margin: 10px 0px;
	background: rgb(252, 252, 252);
}
.image4 {
  width: 100%;
}
.image5 {
  width: 100%;
}
.image6 {
  width: 100%;
}



.image-ultima {
  width: 100%;
}




/** FOOTER ****************/
footer {
  background-color: rgb(255, 255, 255);
	text-align: center;
	padding: 40px 0;
}
.copyright{
	color: #666666;
	font-size: 15px;
	margin: 68px 0 20px;
}


/* ---------- media query --------- */
/* @media (min-width:480px) { /* smartphones */  
/* @media (min-width:768px) { /* tablet */ 
/* @media (min-width:1024px) { /*desktops */ 

@media screen and (min-width: 768px){

}

@media screen and (min-width:1281px){

}
