/* footer 

.u-footer {
    height: 100%;
    width:100%;
    background: #ddd;
  }
*/
html{
  width: 100%;
}

html * {
  box-sizing: border-box;
}

body{
  width: 100%;
  font-family: 'Titillium Web', sans-serif;
  color: #666666;
  text-align: center;
}

.u-body {
  font-family: 'Open Sans',sans-serif;
}


/** HEADER ************************************/
.headername{
  width: 100%;
  padding: 30px 20px;
}

.name {
  padding-inline: 1%;
  width: 100%;
  max-height: 100%;
  text-align: center;
  font-size: 570%;
  font-family: 'Hurricane', 'cursive';
}

.p2 {
  padding-top: 40px;
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 240%;
  text-align: center;
}


/** MAIN ******************************/
.grid {
	display: grid;
}

.grid-template-columns-3 {
	grid-template-columns: 1fr 2fr 1fr;
}




.image1 {
  width: 100%;
}
.image2 {
  width: 100%;
}

.image-ultima {
  width: 100%;
}

 
.paragrafo {
  padding-inline: 20%;
  text-align: center;
  line-height: 32px;
}

/** FOOTER ****************/
footer {
  background-color: rgb(191, 204, 119);
	text-align: center;
	padding: 40px 0;
}

.copyright{
	color: #000000;
	font-size: 15px;
	margin: 20px 0 0;
}


/* ---------- media query --------- */
/* @media (min-width:480px) { /* smartphones */  
/* @media (min-width:768px) { /* tablet */ 
/* @media (min-width:1024px) { /*desktops */ 

@media screen and (min-width: 768px){

}

@media screen and (min-width:1281px){

}
