/* footer 

.u-footer {
    height: 100%;
    width:100%;
    background: #ddd;
  }
*/

footer {
    background-color: blue;
	text-align: center;
	padding: 40px 0;
}

.copyright{
	color: #000000;
	font-size: 15px;
	margin: 20px 0 0;
}